In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.functions import expr, round, col
from pyspark.sql.types import DoubleType, StringType, StructField, StructType, IntegerType, FloatType

warehouse_location = 'hdfs://hdfs-nn:9000/warehouse'

builder = SparkSession \
    .builder \
    .master("local[2]") \
    .appName("Python Spark DataFrames and SQL") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = builder.getOrCreate() #spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
hdfs_path = "hdfs://hdfs-nn:9000/projeto/bronze/EducationUS.csv"

In [8]:
from pyspark.sql import functions as F

# Read without header
education = spark.read.option("header", True) \
    .csv(hdfs_path)

education = education.withColumn("Less than a High School Diploma (Women)", col("Less than a High School Diploma (Women)").cast("float"))
education = education.withColumn("Less than a High School Diploma (Men)", col("Less than a High School Diploma (Men)").cast("float"))
education = education.withColumn("High School Diploma or the Equivalent Only (Women)", col("High School Diploma or the Equivalent Only (Women)").cast("float")) 
education = education.withColumn("High School Diploma or the Equivalent Only (Men)", col("High School Diploma or the Equivalent Only (Men)").cast("float")) 
education = education.withColumn("Some College or an Associate's Degree (Women)", col("Some College or an Associate's Degree (Women)").cast("float")) 
education = education.withColumn("Some College or an Associate's Degree (Men)", col("Some College or an Associate's Degree (Men)").cast("float")) 
education = education.withColumn("Bachelor's Degree or Higher (Women)", col("Bachelor's Degree or Higher (Women)").cast("float")) 
education = education.withColumn("Bachelor's Degree or Higher (Men)", col("Bachelor's Degree or Higher (Men)").cast("float")) 

education = education.withColumnRenamed("Less than a High School Diploma (Men)", "Men_Less_than_High_School_Diploma")
education = education.withColumnRenamed("Less than a High School Diploma (Women)", "Women_Less_than_High_School_Diploma")
education = education.withColumnRenamed("High School Diploma or the Equivalent Only (Men)", "Men_High_School_Diploma")
education = education.withColumnRenamed("High School Diploma or the Equivalent Only (Women)", "Women_High_School_Diploma")
education = education.withColumnRenamed("Some College or an Associate's Degree (Men)", "Men_College_or_Associate_Diploma")
education = education.withColumnRenamed("Some College or an Associate's Degree (Women)", "Women_College_or_Associate_Diploma")
education = education.withColumnRenamed("Bachelor's Degree or Higher (Men)", "Men_Bachelor_Diploma_or_Higher")
education = education.withColumnRenamed("Bachelor's Degree or Higher (Women)", "Women_Bachelor_Diploma_or_Higher")


education.printSchema()
education.show()
#education.toPandas() 
#Usar o comando acima para uma melhor pré-visualização da tabela

customSchema = StructType([
    StructField("Country", StringType(), True),
    StructField("State", StringType(), True),        
    StructField("Men_Less_than_High_School_Diploma", FloatType(), True),        
    StructField("Women_Less_than_High_School_Diploma", FloatType(), True),
    StructField("Men_High_School_Diploma", FloatType(), True),
    StructField("Women_High_School_Diploma", FloatType(), True),
    StructField("Men_College_or_Associate_Diploma", FloatType(), True),
    StructField("Women_College_or_Associate_Diploma", FloatType(), True),
    StructField("Men_Bachelor_Diploma_or_Higher", FloatType(), True),
    StructField("Women_Bachelor_Diploma_or_Higher", FloatType(), True),

])

education \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/warehouse/projeto.db/Education_State")

root
 |-- State: string (nullable = true)
 |-- Women_Less_than_High_School_Diploma: float (nullable = true)
 |-- Men_Less_than_High_School_Diploma: float (nullable = true)
 |-- Women_High_School_Diploma: float (nullable = true)
 |-- Men_High_School_Diploma: float (nullable = true)
 |-- Women_College_or_Associate_Diploma: float (nullable = true)
 |-- Men_College_or_Associate_Diploma: float (nullable = true)
 |-- Women_Bachelor_Diploma_or_Higher: float (nullable = true)
 |-- Men_Bachelor_Diploma_or_Higher: float (nullable = true)

+--------------------+-----------------------------------+---------------------------------+-------------------------+-----------------------+----------------------------------+--------------------------------+--------------------------------+------------------------------+
|               State|Women_Less_than_High_School_Diploma|Men_Less_than_High_School_Diploma|Women_High_School_Diploma|Men_High_School_Diploma|Women_College_or_Associate_Diploma|Men_College_or_Associate_Diploma|Women_Bachelor_Diploma_or_Higher|Men_Bachelor_Diploma_or_Higher|
+--------------------+-----------------------------------+---------------------------------+-------------------------+-----------------------+----------------------------------+--------------------------------+--------------------------------+------------------------------+
|             Alabama|                               14.3|                             16.0|                     30.3|                   32.5|                              31.9|                            28.0|                            23.5|                          23.4|
|              Alaska|                                7.7|                              9.0|                     22.3|                   30.4|                              36.8|                            35.1|                            33.2|                          25.5|
|             Arizona|                               13.8|                             14.5|                     25.1|                   24.4|                              34.3|                            32.9|                            26.8|                          28.2|
|            Arkansas|                               15.0|                             16.1|                     34.3|                   37.3|                              30.0|                            26.2|                            20.7|                          20.5|
|          California|                               18.0|                             18.6|                     20.5|                   21.3|                              30.6|                            28.9|                            30.9|                          31.2|
|            Colorado|                                8.8|                             10.2|                     21.5|                   21.4|                              32.2|                            30.5|                            37.5|                          37.9|
|         Connecticut|                                9.8|                             10.9|                     26.8|                   28.3|                              26.1|                            23.1|                            37.4|                          37.7|
|            Delaware|                               11.6|                             12.2|                     30.3|                   32.1|                              28.7|                            25.8|                            29.3|                          30.0|
|District of Columbia|                               10.0|                             10.1|                     18.9|                   19.4|                              17.5|                            14.9|                            53.5|                          55.6|
|             Florida|                               12.5|                             14.0|                     29.6|                   29.2|                              31.2|                            28.9|                            26.7|                          27.9|
|             Georgia|                               13.3|                             15.6|                     27.5|                   29.9|                              30.5|                            26.3|                            28.7|                          28.2|
|              Hawaii|                                9.7|                              8.2|                     25.5|                   28.3|                              32.3|                            33.3|                            32.6|                          30.1|
|               Idaho|                               10.0|                             11.2|                     26.7|                   28.3|                              37.9|                            33.5|                            25.4|                          27.0|
|            Illinois|                               11.4|                             12.8|                     26.7|                   27.6|                              29.2|                            27.8|                            32.7|                          31.8|
|             Indiana|                               11.7|                             13.1|                     33.7|                   35.3|                              30.6|                            28.0|                            23.9|                          23.5|
|                Iowa|                                8.0|                              8.9|                     31.4|                   35.1|                              33.9|                            30.8|                            26.7|                          25.2|
|              Kansas|                                8.9|                             10.5|                     26.2|                   27.4|                              33.7|                            31.6|                            31.2|                          30.5|
|            Kentucky|                               14.8|                             17.5|                     31.6|                   34.2|                              30.8|                            25.9|                            22.7|                          22.4|
|           Louisiana|                               15.0|                             19.1|                     33.4|                   34.0|                              27.8|                            25.5|                            23.8|                          21.5|
|               Maine|                                6.8|                              9.2|                     33.1|                   36.4|                              30.2|                            28.4|                            29.9|                          26.0|
+--------------------+-----------------------------------+---------------------------------+-------------------------+-----------------------+----------------------------------+--------------------------------+--------------------------------+------------------------------+
only showing top 20 rows

In [9]:
education.printSchema()
education.show()
education.toPandas()

root
 |-- State: string (nullable = true)
 |-- Women_Less_than_High_School_Diploma: float (nullable = true)
 |-- Men_Less_than_High_School_Diploma: float (nullable = true)
 |-- Women_High_School_Diploma: float (nullable = true)
 |-- Men_High_School_Diploma: float (nullable = true)
 |-- Women_College_or_Associate_Diploma: float (nullable = true)
 |-- Men_College_or_Associate_Diploma: float (nullable = true)
 |-- Women_Bachelor_Diploma_or_Higher: float (nullable = true)
 |-- Men_Bachelor_Diploma_or_Higher: float (nullable = true)

+--------------------+-----------------------------------+---------------------------------+-------------------------+-----------------------+----------------------------------+--------------------------------+--------------------------------+------------------------------+
|               State|Women_Less_than_High_School_Diploma|Men_Less_than_High_School_Diploma|Women_High_School_Diploma|Men_High_School_Diploma|Women_College_or_Associate_Diploma|Men_College_or_Associate_Diploma|Women_Bachelor_Diploma_or_Higher|Men_Bachelor_Diploma_or_Higher|
+--------------------+-----------------------------------+---------------------------------+-------------------------+-----------------------+----------------------------------+--------------------------------+--------------------------------+------------------------------+
|             Alabama|                               14.3|                             16.0|                     30.3|                   32.5|                              31.9|                            28.0|                            23.5|                          23.4|
|              Alaska|                                7.7|                              9.0|                     22.3|                   30.4|                              36.8|                            35.1|                            33.2|                          25.5|
|             Arizona|                               13.8|                             14.5|                     25.1|                   24.4|                              34.3|                            32.9|                            26.8|                          28.2|
|            Arkansas|                               15.0|                             16.1|                     34.3|                   37.3|                              30.0|                            26.2|                            20.7|                          20.5|
|          California|                               18.0|                             18.6|                     20.5|                   21.3|                              30.6|                            28.9|                            30.9|                          31.2|
|            Colorado|                                8.8|                             10.2|                     21.5|                   21.4|                              32.2|                            30.5|                            37.5|                          37.9|
|         Connecticut|                                9.8|                             10.9|                     26.8|                   28.3|                              26.1|                            23.1|                            37.4|                          37.7|
|            Delaware|                               11.6|                             12.2|                     30.3|                   32.1|                              28.7|                            25.8|                            29.3|                          30.0|
|District of Columbia|                               10.0|                             10.1|                     18.9|                   19.4|                              17.5|                            14.9|                            53.5|                          55.6|
|             Florida|                               12.5|                             14.0|                     29.6|                   29.2|                              31.2|                            28.9|                            26.7|                          27.9|
|             Georgia|                               13.3|                             15.6|                     27.5|                   29.9|                              30.5|                            26.3|                            28.7|                          28.2|
|              Hawaii|                                9.7|                              8.2|                     25.5|                   28.3|                              32.3|                            33.3|                            32.6|                          30.1|
|               Idaho|                               10.0|                             11.2|                     26.7|                   28.3|                              37.9|                            33.5|                            25.4|                          27.0|
|            Illinois|                               11.4|                             12.8|                     26.7|                   27.6|                              29.2|                            27.8|                            32.7|                          31.8|
|             Indiana|                               11.7|                             13.1|                     33.7|                   35.3|                              30.6|                            28.0|                            23.9|                          23.5|
|                Iowa|                                8.0|                              8.9|                     31.4|                   35.1|                              33.9|                            30.8|                            26.7|                          25.2|
|              Kansas|                                8.9|                             10.5|                     26.2|                   27.4|                              33.7|                            31.6|                            31.2|                          30.5|
|            Kentucky|                               14.8|                             17.5|                     31.6|                   34.2|                              30.8|                            25.9|                            22.7|                          22.4|
|           Louisiana|                               15.0|                             19.1|                     33.4|                   34.0|                              27.8|                            25.5|                            23.8|                          21.5|
|               Maine|                                6.8|                              9.2|                     33.1|                   36.4|                              30.2|                            28.4|                            29.9|                          26.0|
+--------------------+-----------------------------------+---------------------------------+-------------------------+-----------------------+----------------------------------+--------------------------------+--------------------------------+------------------------------+
only showing top 20 rows

,State,Women_Less_than_High_School_Diploma,Men_Less_than_High_School_Diploma,Women_High_School_Diploma,Men_High_School_Diploma,Women_College_or_Associate_Diploma,Men_College_or_Associate_Diploma,Women_Bachelor_Diploma_or_Higher,Men_Bachelor_Diploma_or_Higher
0,Alabama,14.3,16.000000,30.299999,32.500000,31.900000,28.000000,23.500000,23.400000
1,Alaska,7.7,9.000000,22.299999,30.400000,36.799999,35.099998,33.200001,25.500000
2,Arizona,13.8,14.500000,25.100000,24.400000,34.299999,32.900002,26.799999,28.200001
3,Arkansas,15.0,16.100000,34.299999,37.299999,30.000000,26.200001,20.700001,20.500000
4,California,18.0,18.600000,20.500000,21.299999,30.600000,28.900000,30.900000,31.200001
5,Colorado,8.8,10.200000,21.500000,21.400000,32.200001,30.500000,37.500000,37.900002
6,Connecticut,9.8,10.900000,26.799999,28.299999,26.100000,23.100000,37.400002,37.700001
7,Delaware,11.6,12.200000,30.299999,32.099998,28.700001,25.799999,29.299999,30.000000
8,District of Columbia,10.0,10.100000,18.900000,19.400000,17.500000,14.900000,53.500000,55.599998
9,Florida,12.5,14.000000,29.600000,29.200001,31.200001,28.900000,26.700001,27.900000
10,Georgia,13.3,15.600000,27.500000,29.900000,30.500000,26.299999,28.700001,28.200001
11,Hawaii,9.7,8.200000,25.500000,28.299999,32.299999,33.299999,32.599998,30.100000
12,Idaho,10.0,11.200000,26.700001,28.299999,37.900002,33.500000,25.400000,27.000000
13,Illinois,11.4,12.800000,26.700001,27.600000,29.200001,27.799999,32.700001,31.799999
14,Indiana,11.7,13.100000,33.700001,35.299999,30.600000,28.000000,23.900000,23.500000
15,Iowa,8.0,8.900000,31.400000,35.099998,33.900002,30.799999,26.700001,25.200001
16,Kansas,8.9,10.500000,26.200001,27.400000,33.700001,31.600000,31.200001,30.500000
17,Kentucky,14.8,17.500000,31.600000,34.200001,30.799999,25.900000,22.700001,22.400000
18,Louisiana,15.0,19.100000,33.400002,34.000000,27.799999,25.500000,23.799999,21.500000
19,Maine,6.8,9.200000,33.099998,36.400002,30.200001,28.400000,29.900000,26.000000
20,Maryland,9.9,11.600000,24.900000,27.200001,27.100000,24.900000,38.099998,36.400002
21,Massachusetts,9.6,10.400000,24.900000,27.200001,25.299999,22.500000,40.299999,39.900002
22,Michigan,9.9,11.400000,28.700001,30.100000,34.500000,31.500000,26.900000,27.000000
23,Minnesota,7.3,8.200000,25.299999,27.400000,33.299999,31.200001,34.000000,33.200001
24,Mississippi,16.0,19.600000,28.799999,31.900000,33.599998,29.200001,21.600000,19.200001
25,Missouri,10.5,11.500000,30.500000,33.500000,31.900000,28.000000,27.100000,27.000000
26,Montana,6.7,6.900000,26.000000,30.100000,37.299999,34.299999,30.000000,28.700001
27,Nebraska,8.5,10.500000,26.400000,27.400000,34.400002,32.299999,30.700001,29.799999
28,Nevada,14.5,15.100000,28.600000,28.700001,34.700001,33.700001,22.200001,22.600000
29,New Hampshire,6.9,8.000000,27.100000,30.799999,30.400000,26.600000,35.599998,34.599998
30,New Jersey,11.3,12.000000,29.200001,28.799999,23.600000,22.200001,35.799999,37.099998
31,New Mexico,15.9,16.799999,24.400000,28.799999,32.700001,28.799999,27.000000,25.600000
32,New York,14.2,14.900000,26.299999,27.500000,25.000000,24.400000,34.500000,33.200001
33,North Carolina,12.8,16.000000,25.700001,27.600000,33.000000,28.400000,28.500000,28.000000
34,North Dakota,7.5,8.700000,26.299999,28.100000,38.000000,35.799999,28.200001,27.400000
35,Ohio,10.4,11.400000,33.500000,35.000000,30.200001,27.400000,25.900000,26.200001
36,Oklahoma,12.4,14.300000,31.700001,32.299999,32.000000,29.400000,24.000000,24.000000
37,Oregon,9.8,11.100000,23.900000,24.799999,36.299999,33.299999,30.000000,30.799999
38,Pennsylvania,10.5,11.200000,36.099998,36.599998,24.799999,23.500000,28.600000,28.700001
39,Rhode Island,13.2,14.200000,26.100000,26.700001,28.700001,25.500000,32.000000,33.599998
40,South Carolina,13.5,15.700000,29.000000,29.500000,32.000000,28.600000,25.500000,26.200001
41,South Dakota,8.6,8.800000,30.700001,33.099998,34.400002,32.700001,26.400000,25.400000
42,Tennessee,13.3,15.600000,32.500000,33.799999,29.400000,26.100000,24.799999,24.500000
43,Texas,17.5,18.600000,24.799999,25.700001,30.200001,28.100000,27.400000,27.600000
44,Utah,7.9,8.800000,24.000000,22.100000,39.099998,35.400002,28.900000,33.700001
45,Vermont,6.5,10.600000,28.299999,32.900002,28.000000,25.400000,37.200001,31.100000
46,Virginia,10.9,12.500000,24.200001,25.700001,29.000000,25.400000,35.799999,36.400002
47,Washington,9.2,10.500000,22.799999,23.400000,35.599998,32.900002,32.400002,33.200001
48,West Virginia,14.2,16.700001,38.900002,41.799999,27.799999,23.000000,19.100000,18.500000
49,Wisconsin,8.5,10.300000,30.400000,33.400002,32.299999,29.600000,28.799999,26.100000
50,Wyoming,5.8,7.000000,25.299999,30.900000,42.000000,34.799999,26.900000,21.299999

In [10]:
spark.sql(
    """
    SELECT * FROM projeto.Education_State
    """
).show()

+--------------------+---------------------------------+-----------------------------------+-----------------------+-------------------------+--------------------------------+----------------------------------+------------------------------+--------------------------------+
|               State|Men_Less_than_High_School_Diploma|Women_Less_than_High_School_Diploma|Men_High_School_Diploma|Women_High_School_Diploma|Men_College_or_Associate_Diploma|Women_College_or_Associate_Diploma|Men_Bachelor_Diploma_or_Higher|Women_Bachelor_Diploma_or_Higher|
+--------------------+---------------------------------+-----------------------------------+-----------------------+-------------------------+--------------------------------+----------------------------------+------------------------------+--------------------------------+
|             Alabama|                             16.0|                               14.3|                   32.5|                     30.3|                            28.0|                              31.9|                          23.4|                            23.5|
|              Alaska|                              9.0|                                7.7|                   30.4|                     22.3|                            35.1|                              36.8|                          25.5|                            33.2|
|             Arizona|                             14.5|                               13.8|                   24.4|                     25.1|                            32.9|                              34.3|                          28.2|                            26.8|
|            Arkansas|                             16.1|                               15.0|                   37.3|                     34.3|                            26.2|                              30.0|                          20.5|                            20.7|
|          California|                             18.6|                               18.0|                   21.3|                     20.5|                            28.9|                              30.6|                          31.2|                            30.9|
|            Colorado|                             10.2|                                8.8|                   21.4|                     21.5|                            30.5|                              32.2|                          37.9|                            37.5|
|         Connecticut|                             10.9|                                9.8|                   28.3|                     26.8|                            23.1|                              26.1|                          37.7|                            37.4|
|            Delaware|                             12.2|                               11.6|                   32.1|                     30.3|                            25.8|                              28.7|                          30.0|                            29.3|
|District of Columbia|                             10.1|                               10.0|                   19.4|                     18.9|                            14.9|                              17.5|                          55.6|                            53.5|
|             Florida|                             14.0|                               12.5|                   29.2|                     29.6|                            28.9|                              31.2|                          27.9|                            26.7|
|             Georgia|                             15.6|                               13.3|                   29.9|                     27.5|                            26.3|                              30.5|                          28.2|                            28.7|
|              Hawaii|                              8.2|                                9.7|                   28.3|                     25.5|                            33.3|                              32.3|                          30.1|                            32.6|
|               Idaho|                             11.2|                               10.0|                   28.3|                     26.7|                            33.5|                              37.9|                          27.0|                            25.4|
|            Illinois|                             12.8|                               11.4|                   27.6|                     26.7|                            27.8|                              29.2|                          31.8|                            32.7|
|             Indiana|                             13.1|                               11.7|                   35.3|                     33.7|                            28.0|                              30.6|                          23.5|                            23.9|
|                Iowa|                              8.9|                                8.0|                   35.1|                     31.4|                            30.8|                              33.9|                          25.2|                            26.7|
|              Kansas|                             10.5|                                8.9|                   27.4|                     26.2|                            31.6|                              33.7|                          30.5|                            31.2|
|            Kentucky|                             17.5|                               14.8|                   34.2|                     31.6|                            25.9|                              30.8|                          22.4|                            22.7|
|           Louisiana|                             19.1|                               15.0|                   34.0|                     33.4|                            25.5|                              27.8|                          21.5|                            23.8|
|               Maine|                              9.2|                                6.8|                   36.4|                     33.1|                            28.4|                              30.2|                          26.0|                            29.9|
+--------------------+---------------------------------+-----------------------------------+-----------------------+-------------------------+--------------------------------+----------------------------------+------------------------------+--------------------------------+
only showing top 20 rows